body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/*Style for header*/
.header {
  background: linear-gradient(0deg, rgba(2, 15, 33, 0.6), rgba(2, 15, 33, 0.6)),
    url(back.JPG);
  width: 100%;
  height: 68.688rem;
}
/*Style for logo and navbar*/
.logo {
  position: relative;
  width: 5.4rem;
  height: 5.7rem;
  left: 6.6rem;
  top: 3.5rem;
}
.header--link {
  display: inline-flex;
  list-style: none;
  position: relative;
  left: 46rem;
  font-weight: 500;
  font-size: 1.5rem;
  /* color: black; */
  color: #ffffff;
  padding: 0.5rem;
  margin: 0.5rem;
}
.navlinks a {
  text-decoration: none;
}
.navlinks:hover {
  cursor: pointer;
}
.active {
  background-color: #bf0a30;
  border-radius: 0.4rem;
  width: fit-content;
  text-align: center;
}
/*style for slider button*/
.arrow {
  font-size: 2rem;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  top: 40rem;
}
.arrow:hover {
  cursor: pointer;
}
.arrow-left {
  left: 3rem;
}
.arrow-right {
  left: 87%;
}
/*style for header carousel*/
.slider {
  display: flex;
  flex-direction: row;
}
.slide {
  position: absolute;
  top: 10rem;
  min-width: 100%;
  transition: 1s;
}
.slide--one {
  transform: translateX(100%);
}
.slide--two {
  transform: translateX(200%);
}
/*style for header elements*/
.placeholder {
  height: 23.125rem;
  opacity: 0;
  overflow: hidden;
}
.slide--heading {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 20rem;
  text-align: center;
  color: #ffe600;
  font-weight: 800;
  font-size: 2.25rem;
}
.slide--sub {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 20rem;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
  font-size: 4.5rem;
}
.intro {
  text-align: center;
}
.slide-description {
  font-family: "Merriweather Sans";
  position: relative;
  font-weight: 400;
  font-size: 2.25rem;
  top: 19rem;
  left: 13rem;
  color: #ffffff;
  width: 73.75rem;
}
.button {
  text-align: center;
  position: relative;
  top: 20rem;
  left: 40rem;
  background-color: #bf0a30;
  border: none;
  border-radius: 0.625rem;
  width: 16.75rem;
  height: 3.875rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
}
.button:hover {
  cursor: pointer;
}
/*upcoming events style*/
.upcoming {
  display: flex;
  flex-direction: row;
  background-color: #ececec;
}
.fa-calendar-check-o {
  color: #bf0a30;
  position: relative;
  top: 1rem;
  left: 1.8rem;
}
.calendar {
  position: relative;
  top: -4rem;
  color: #000000;
  border-radius: 1.5rem;
  width: 33rem;
  height: 9rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  box-shadow: 0.1rem 0.05rem 1rem 1rem rgba(0, 0, 0, 0.25);
}
.calendar--left {
  left: 10rem;
}
.calendar--right {
  left: 20rem;
}
.calendar--info {
  font-weight: 500;
  font-size: 1.5rem;
  position: relative;
  left: 3rem;
}
.calendar--info a {
  color: #bf0a30;
  font-size: 1.125rem;
}
.calendar--icon {
  display: flex;
  flex-direction: column;
}
.date {
  background-color: rgba(191, 10, 48, 0.3);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 2rem 1.5rem 2rem 1.5rem;
  margin-top: -0.1rem;
  width: 2.5em;
  text-align: center;
}
.time {
  position: relative;
  top: -1.5rem;
  background-color: #bf0a30;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding: 0.3rem;
  text-align: center;
  color: #ffffff;
  font-size: 1.125rem;
}
/* style for brief about section */
.midsection {
  display: flex;
  flex-direction: row;
  height: 50rem;
  background-color: #ececec;
}
.mid--icon--background {
  background-color: #bf0a30;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.mid--icon {
  color: #ffffff;
  position: relative;
  top: 1rem;
  left: 1rem;
}
.mid--left {
  padding: 3rem;
}
.mid--left img {
  width: 37.5rem;
  height: 31.25rem;
  border-color: #ffe600;
  border-style: solid;
  border-radius: 0.5rem;
  margin-left: 4rem;
  margin-top: 5rem;
}
.mid--right {
  width: 37.5rem;
  height: 31.25rem;
  padding: 2rem;
  margin-left: 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.mid--right h4 {
  color: #bf0a30;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.mid--right h3 {
  font-weight: 700;
  font-size: 2.25rem;
  font-style: italic;
}
.mid--right h5 {
  font-weight: 500;
  font-size: 1.5rem;
}
.mid--sub {
  display: flex;
  flex-direction: row;
}
.mid--sub--top {
  width: 14.438rem;
}
.mid--sub--bottom {
  width: 14.438rem;
  margin-left: 4rem;
}
.mid--sub--top button {
  background-color: #bf0a30;
  border: none;
  color: #ffffff;
  width: 12rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
}
.mid--sub--top button:hover {
  cursor: pointer;
}
.mid--welcome {
  font-weight: 400;
  font-size: 1.5rem;
  font-family: serif;
}
.mid-text {
  font-size: 1.125rem;
  font-weight: 400;
}
/* style for give section */
.pray {
  height: 31rem;
  text-align: center;
  background: linear-gradient(0deg, rgba(2, 15, 33, 0.6), rgba(2, 15, 33, 0.6)),
    url(back.JPG);
  margin-top: -3rem;
}
.star {
  background-color: #bf0a30;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
  top: 5rem;
  left: 50rem;
}
.fa-star-o {
  color: #ffffff;
  position: relative;
  top: 0.4rem;
}
.pray h3 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 800;
  padding: 3rem 7rem 0rem 7rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.pray p {
  font-weight: 400;
  font-size: 2.25rem;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.donate {
  background-color: #ffffff00;
  border-style: solid;
  border-color: #bf0a30;
  border-radius: 0.625rem;
  width: 16.75rem;
  height: 3.875rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
}
.donate:hover {
  cursor: pointer;
}
/* Today's sermon section */
.sermon {
  display: flex;
  flex-direction: column;
  height: 100rem;
}
.sermon--top {
  height: 43.75rem;
}
.heading h5 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: #bf0a30;
  font-family: Arial, Helvetica, sans-serif;
}
.heading h3 {
  font-weight: 700;
  font-size: 2.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: -1rem;
}
.heading h2 {
  font-weight: 400;
  text-align: center;
  font-size: 3rem;
}
.sermon--details {
  width: 42rem;
  margin: 5rem;
  font-weight: 700;
}
.sermon--details h3 {
  font-size: 2.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sermon--details h5 {
  color: #bf0a30;
  font-size: 1.5rem;
}
#sermon--details {
  font-weight: 300;
  font-size: 1.5rem;
  color: #bf0a30;
}
#sermon--text {
  font-weight: 400;
  font-size: 1.5rem;
}
/* style for organizaions */
.organizations {
  display: flex;
  flex-direction: column;
  background-color: rgba(2, 15, 33, 0.05);
  border-radius: 20rem 0 0 0;
  height: 56.5rem;
}
.organ {
  background-color: #ffffff;
  margin-left: 7rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 37.5rem;
  box-shadow: 0.1rem 0.05rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
}
.organizations--background {
  background: url("back.JPG");
  height: 16rem;
  width: 25rem;
  border-radius: 2rem 2rem 0 0;
}
.organizations--content {
  padding: 0.5rem;
}
.organizations--content h4 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}
.organizations--content p {
  width: 21.313rem;
  font-size: 1.125rem;
  padding: 0 1.5rem 0 1.5rem;
  font-weight: 400;
}
.organizations--content a {
  color: #bf0a30;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0 1.5rem 0 1.5rem;
}
.organizations--bottom {
  display: flex;
  flex-direction: row;
}
/* style for contact */
.call {
  display: flex;
  flex-direction: row;
  background: linear-gradient(0deg, rgba(2, 15, 33, 0.6), rgba(2, 15, 33, 0.6)),
    url(back.JPG);
  height: 56.25rem;
}
.call--info {
  background-color: #bf0a30;
  height: 33.188rem;
  width: 31.875rem;
  border-radius: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin: -4rem 3rem 0 7rem;
}
.fa-phone {
  position: relative;
  top: 2rem;
}
.call--info h3 {
  font-size: 3rem;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.call--info p {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.8rem 2rem 0.8rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.call--right {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.call--right h3 {
  font-size: 2.25rem;
  font-weight: 800;
}
.call--right p {
  width: 43.5rem;
}
.call--right button {
  background-color: #bf0a30;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 0.5rem;
  width: 16.75rem;
  height: 3.875rem;
}
.call--right button:hover {
  cursor: pointer;
}
/* wavy background style */
.svg {
  height: 24.375rem;
  margin-top: -20rem;
}
.svg img {
  width: 100%;
}
/* our blog section */
.blog {
  display: flex;
  flex-direction: column;
  height: 50rem;
}
.blogs {
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem 0.05rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
  margin-left: 7rem;
}
.blog--bottom {
  display: flex;
  flex-direction: row;
}
.blog--head h5 {
  font-weight: 700;
  font-size: 2.25rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  margin-top: -1rem;
}
.blog--head h3 {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  color: #bf0a30;
}
.blog--background {
  background: url("back.JPG");
  height: 18.75rem;
  width: 25rem;
}
.blog--content {
  height: 12.5rem;
  width: 25rem;
}
.blog--content h6 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  font-family: sans-serif;
  width: 21.188rem;
  padding: 0 1.5rem 0 1.5rem;
  margin: 2rem 0 2rem 0;
}
.blog--content a {
  color: #bf0a30;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0 1.5rem 0 1.5rem;
}
/* style for quicklinks */
.quicklinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 37.5rem;
  background: linear-gradient(0deg, rgba(2, 15, 33, 0.6), rgba(2, 15, 33, 0.6)),
    url(back.JPG);
  color: #ffffff;
}
.quicklinks h3 {
  font-weight: 700;
  font-size: 2.25rem;
}
.about {
  margin-left: 5rem;
  width: 18.75rem;
}
.about--info {
  font-size: 1.5rem;
  line-height: 1.778rem;
  font-weight: 400;
}
.about a {
  text-decoration: none;
  color: #ffffff;
}
#socials {
  padding: 0.2rem;
}
.update--sub {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}
.update--date {
  display: flex;
  flex-direction: row;
  margin-top: -1rem;
  margin-left: -1rem;
}
.update--p {
  font-size: 0.938rem;
  font-weight: 300;
  margin-left: 2rem;
  margin-top: 1.7rem;
}
.updates img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.5rem;
}
.update--title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.219rem;
  width: 11.125rem;
  padding-left: 1rem;
  margin-top: -0.05rem;
  font-style: italic;
}
.fa-star {
  color: #bf0a30;
  margin-right: 0.5rem;
}
.input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.email {
  width: 12rem;
  height: 3.313rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  font-size: 1rem;
}
.email:focus {
  outline: none;
}
.sign-up {
  width: 5rem;
  height: 3.313rem;
  margin-left: -0.02rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  background-color: #bf0a30;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}
/* style for footer */
.footer {
  display: flex;
  flex-direction: row;
  height: 6.25rem;
  background-color: #000916;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
}
#copyright {
  margin: 2rem 7rem 1rem 4rem;
}
#privacy {
  margin: 2rem 7rem 1rem 30rem;
}
