:root {
  --deep-pink: #bf0a30;
  --white: #fff;
}

body {
  margin: 0;
  overflow-x: hidden;
}
.container-fluid {
  padding: 0 !important;
}
header {
  background: linear-gradient(0deg, rgba(2, 15, 33, 0.6), rgba(2, 15, 33, 0.6)),
    url("/back.JPG");
  min-height: 900px;
}
.nav-1 {
  max-height: 30px;
}
.actives {
  border-bottom: 2px solid var(--deep-pink);
}
ul a {
  text-decoration: none;
}
.navbar > .container-fluid {
  margin: 0 40px;
}
.navbar-brand a,
i {
  color: var(--white);
  text-decoration: none;
  font-size: 25px;
}
.navbar-brand a:hover {
  color: var(--white);
}
nav ul {
  gap: 50px;
}
ul a li {
  color: var(--white);
  font-weight: 500;
  font-size: 24px;
}
#demo {
  text-align: center;
}
.intro {
  padding: 0 100px;
}
.slide--heading {
  color: yellow;
}
:is(.carousel-item, h1, p) {
  color: var(--white);
}
.carousel-item p {
  font-size: 36px;
  font-weight: 400;
}
.carousel-indicators {
  bottom: -200px !important;
}
.button,
.button-transparent {
  color: var(--white);
  border-radius: 10px !important;
  width: 200px;
  font-size: 20px;
  height: 65px;
  background: var(--deep-pink);
  border: 1px solid rgba(191, 10, 48, 0.2);
}
.button-transparent {
  border: 4px solid var(--deep-pink);
  background-color: transparent;
}
.upcoming.row {
  justify-content: space-around;
  position: relative;
  top: -85px;
}
.calendar {
  display: flex;
  gap: 25px;
  justify-content: center;
  -webkit-box-shadow: 2px 6px 19px 3.5px #ddd;
  -moz-box-shadow: 2px 6px 19px 3.5px #ddd;
  box-shadow: 2px 6px 19px 3.5px #ddd;
  padding: 50px 30px !important;
  background-color: #fff;
  border-radius: 47px;
}
.calendar--icon {
  text-align: center;
  background-color: rgba(191, 10, 48, 0.3);
  /* padding: 10px 0px; */
  border-radius: 10px;
}
.fa.fa-calendar-check-o,
.date {
  color: var(--deep-pink);
}
.fa.fa-calendar-check-o {
  position: relative;
  top: -11px;
}
.time {
  color: var(--white);
  background-color: var(--deep-pink);
  padding: 6px 20px;
  border-radius: 14px 14px 4px 4px;
}
:is(.calendar--info, a) {
  color: var(--deep-pink);
  font-weight: 500;
  font-size: 18px;
}
:is(.calendar--info, h5) {
  color: black;
  font-weight: 500;
  font-size: 24px;
}
.midsection.row {
  justify-content: center;
  gap: 145px;
  padding-bottom: 80px;
}
.mid--left img {
  max-width: 600px;
  min-height: 50px;
  border: 2px solid yellow;
  border-radius: 5px;
}
.svgback {
  border: none !important;
  position: absolute;
  top: 1145px;
  left: 220px;
  z-index: -1;
}
.mid--right h4 {
  color: var(--deep-pink);
}
.mid--right h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
}
.mid--welcome {
  color: black;
  font-weight: 400;
  font-size: 24px;
}
.mid--text {
  color: black;
  font-size: 18px;
  font-weight: 400;
}
.mid--right h4::after {
  content: "";
  width: 90px;
  top: 1122px;
  left: 730px;
  position: absolute;
  height: 6px;
  border: 1px solid yellow;
  background-color: var(--deep-pink);
}
.mid--icon--background,
.star {
  background-color: var(--deep-pink);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--white);
  padding: 13px;
  font-size: 25px;
}

.pray {
  flex-direction: column !important;
  align-items: center;
  gap: 10px;
  background: linear-gradient(0deg, rgba(2, 15, 33, 0.6), rgba(2, 15, 33, 0.6)),
    url("/back.JPG");
  padding: 40px 0;
}
.pray h3 {
  color: var(--white);
  font-weight: 800;
  font-size: 48px;
  text-align: center;
}
.pray p {
  font-size: 36px;
  font-weight: 400;
}
.heading.d-flex {
  justify-content: center;
  gap: 15px;
}
.heading.d-flex h2 {
  padding: 10px 0;
}
.sermon--details {
  background-image: url("/icon.svg");
  background-repeat: no-repeat;
  padding: 50 80px;
}
#sermon--text {
  color: black;
  font-size: 24px;
  font-weight: 400;
}
.sermon--details h3 {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
#sermon--details {
  color: var(--deep-pink);
  font-weight: 300;
  font-size: 24px;
}
.sermon--details h5 {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}
.heading-o.d-flex {
  flex-direction: column;
  align-items: center;
}
.organizations--bottom.d-flex {
  justify-content: center;
  gap: 50px;
}
.organizations {
  background: rgba(2, 15, 33, 0.05);
  border-radius: 300px 0px 0px 0px;
  padding: 100px 0;
}
.organizations--content {
  background-color: var(--white);
  border-radius: 0 0 25px 25px;
  padding: 30px;
}
.organizations--content p,
.organizations--content h4 {
  color: black;
  text-align: start;
}
.organizations--background {
  background-image: url("/back.JPG");
  border-radius: 25px 25px 0px 0px;
  height: 300px;
}
.call {
  background: linear-gradient(0deg, rgba(2, 15, 33, 0.6), rgba(2, 15, 33, 0.6)),
    url("/back.JPG");
}
.call.d-flex {
  justify-content: center;
  padding: 100px 0;
  gap: 60px;
  text-align: center;
  color: var(--white);
}
.call h3 {
  font-weight: 800;
  font-size: 48px;
  color: var(--white);
}
.call p {
  font-size: 24px;
  font-weight: 700;
}
.call--info {
  background-color: var(--deep-pink);
  border-radius: 25px;
  padding: 30px 0;
  position: relative;
  top: -18vh;
}
.call--right {
  text-align: start;
}
.call--right h5 {
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
}
.call--right h3 {
  font-size: 36px;
  font-weight: 800;
}
.call--right h3::after {
  content: "";
  width: 90px;
  top: 413vh;
  left: 693px;
  position: absolute;
  height: 6px;
  border: 1px solid yellow;
  background-color: var(--deep-pink);
}
.svg {
  background-image: url("/Group\ 4.svg");
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: -160px;
  height: 160px;
}
.blog {
  padding: 40px 0;
}
.blog--head.d-flex {
  flex-direction: column;
  align-items: center;
}
.blog--head h3 {
  color: var(--deep-pink);
  font-weight: 500;
  font-size: 24px;
}
.blog--head h5 {
  font-weight: 700;
  font-size: 36px;
  font-style: italic;
}
.blog--head h5::after {
  content: "";
  width: 90px;
  top: 497vh;
  left: 760px;
  position: absolute;
  height: 6px;
  border: 1px solid yellow;
  background-color: var(--deep-pink);
}
.blog--background {
  background-image: url("/back.JPG");
  height: 300px;
}
.blog--bottom.d-flex {
  justify-content: space-evenly;
  padding: 20px 0;
}
.blog--content {
  background-color: var(--white);
  height: 200px;
  -webkit-box-shadow: 7px 15.5px 21px -0.5px #ddd;
  -moz-box-shadow: 7px 15.5px 21px -0.5px #ddd;
  box-shadow: 7px 15.5px 21px -0.5px #ddd;
  padding: 20px;
}
.blog--content h6 {
  font-style: italic;
  font-size: 24px;
  font-weight: 700;
}
.vertical {
  margin: 0;
  writing-mode: tb-rl;
  background-color: var(--deep-pink);
  font-size: 24px;
  font-weight: 500;
  border-radius: 0 10px 10px 0;
  top: 54px;
  position: relative;
  padding: 10px;
}
.quicklinks.d-flex {
  justify-content: space-evenly;
  background: linear-gradient(0deg, rgba(2, 15, 33, 0.8), rgba(2, 15, 33, 0.8)),
    url("/back.JPG");
}
.quicklinks.d-flex h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--white);
}
.about.col {
  padding: 15px;
}
.socials i {
  color: var(--white);
  padding: 5px;
}
.about--info {
  font-weight: 400;
  font-size: 24px;
}
.about--info i {
  color: var(--deep-pink);
}
.about--info a {
  color: var(--white);
  margin-left: 20px;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}
.about--info a:hover {
  color: var(--white);
}
.update--sub.line {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
.update--sub:last-child {
  padding-top: 10px;
}
.update--sub,
.update--date {
  gap: 15px;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
}
.update--date {
  font-size: 15px;
  font-weight: 300;
}
.email {
  height: 50px;
  border-radius: 5px 0 0 5px;
  padding: 0 !important;
  border: none;
}
.sign-up {
  border: none;
  height: 50px;
  color: var(--white);
  background-color: var(--deep-pink);
  margin-left: -2px !important;
  border-radius: 0 5px 5px 0;
}
.email:focus {
  outline: none;
}
footer {
  background-color: black;
  justify-content: space-around;
  padding: 20px 0;
  font-weight: 500;
  font-size: 24px;
}
